.row {
	color: white;
	width: 100%;
	max-width: 750px;
}

.row__list {
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.row__list::-webkit-scrollbar {
	display: none;
}
