.sidebar {
	display: flex;
	width: 100%;
	flex-direction: column;
	max-width: 250px;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 26px;
	border-right: 1px solid lightgray;
}

.sidebar__logo {
	margin-bottom: 20px;
	object-fit: contain;
	width: 170px;
}

.sidebar__recommend {
	display: flex;
	flex-direction: column;
	margin-top: 36px;
	margin-bottom: 36px;
}

.sidebar__mymusic {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 36px;
	margin-bottom: 36px;
}

h4 {
	text-transform: uppercase;
	color: var(--sidemenu-header-color);
	margin-bottom: 16px;
}
