* {
	margin: 0;
}

body {
	--active-link-color: rgb(112, 66, 219);
	--hover-link-color: rgb(50, 155, 65);
	--sidemenu-header-color: rgb(180, 180, 180);
	overflow: hidden;
}

.app__body {
	background-color: rgb(245, 245, 245);
	display: flex;
	height: 100vh;
	justify-content: center;
	padding-bottom: 250px;
}

.app__content {
	margin-left: 56px;
	margin-right: 56px;
	margin-top: 26px;
	margin-bottom: 26px;
}
